@page "/home"
@using EcoEarthPOC.Components.Pages.Quests.DTOs
@using EcoEarthPOC.Components.Services;
@using EcoEarthPOC.Models;
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.DailyStreakService dailyStreakService
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.QuestService questService
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.UserCurrencyService userCurrencyService

<h1>
    Welcome to EcoEarth!
</h1>

@if (Setting.UserBasicDetail?.Name != null)
{
    <p>
        Great to see you, @Setting.UserBasicDetail.Name 😊
        Keep recycling and making Earth greener!
    </p>
}
else
{
    <p>
        Great to see you 😊! Please log in or register to continue.
    </p>
}

<!-- Show some key user insight here-->
<div class="big-box">
    <label>@($"You have {Balance} Ecoins!")</label>
    <div class="button-container">
        <button @onclick="NavigateToRewards" class="button">Claim Rewards!</button>
    </div>
</div>

<!-- Show the user's daily streak-->
<div class="sub-box">
    <label>Daily streak</label>
    <h1>@DailyStreak</h1>
</div>

<!-- Show user's daily quests here-->
<div class="quest-box">
    <table class="quest-table-head">
        <tr class="quest-table-tr">
            <td class="quest-table-td">
                <label>Daily Quests</label>
            </td>
            <td class="button-container">
                <button @onclick="NavigateToScanner" class="button">Start Scanning!</button>
            </td>
        </tr>
    </table>
    @if(quests != null)
    {
        <table>
            @foreach (var quest in quests)
            {
                <tr>
                    <div>
                        <td>
                            <p class="quest-p">@($"{quest.QuestInstruction} {quest.QuestGoal} {GetCategoryName(quest.CategoryId)} items")</p>
                            <p class="quest-point-text">@($" Worth {quest.QuestReward} Ecoins!")</p>
                        </td>
                        <td>
                            @if(quest.isDone == true)
                            {
                                <p class="quest-progress-text">@($"Done!")</p>
                            }
                            else
                            {
                                <p class="quest-progress-text">@($"{quest.Progress}/{quest.QuestGoal}")</p>
                            }
                        </td>
                    </div>
                </tr>
            }
        </table>
    }
</div>

@code
{
    private int DailyStreak;
    private List<QuestDTO> quests;
    private Timer? _timer;
    private int Balance;

    // Id is passed here, must be changed before deployment
    protected override async Task OnInitializedAsync()
    {
        try
        {
            DailyStreak = await dailyStreakService.GetUserStreak();
        }
        catch (Exception)
        {
            DailyStreak = -1;
        }

        try
        {
            quests = (await questService.GetAllQuests()).ToList();
        }
        catch (Exception)
        {
            quests = new List<QuestDTO>();
        }
        try
        {
            Balance = await userCurrencyService.GetUserBalance();
        }
        catch (Exception)
        {
            Balance = -1;
        }


        _timer = new Timer(async _ => await CheckDailyStreak(), null, 0, 1000);
        _timer = new Timer(async _ => await AssignQuests(), null, 0, 1000);
        _timer = new Timer(async _ => await CheckBalance(), null, 0, 1000);
    }

    public async Task CheckDailyStreak()
    {
        try
        {
            await dailyStreakService.CheckStreak();
            DailyStreak = await dailyStreakService.GetUserStreak();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
            DailyStreak = -1;
        }
    }

    public async Task AssignQuests()
    {
        try
        {
            await questService.AssignQuests();
            quests = quests = (await questService.GetAllQuests()).ToList();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
            quests = new List<QuestDTO>();
        }
    }

    public async Task CheckBalance()
    {
        try
        {
            Balance = await userCurrencyService.GetUserBalance();
        }
        catch (Exception)
        {
            Balance = -1;
        }
    }

    private void NavigateToScanner()
    {
        NavigationManager.NavigateTo("/scanner/scanner");
    }

    private void NavigateToRewards()
    {
        NavigationManager.NavigateTo("/rewards");
    }

    //converts questCategory to string
    private string GetCategoryName(int categoryId)
    {
        var categoryName = "";
        if (categoryId == 1)
        {
            categoryName = "plastic";
        }
        if (categoryId == 2)
        {
            categoryName = "glass";
        }
        if (categoryId == 3)
        {
            categoryName = "paper";
        }
        if (categoryId == 4)
        {
            categoryName = "metal";
        }
        if (categoryId == 5)
        {
            categoryName = "cardboard";
        }

        return categoryName;
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }


}