@page "/scanner/productinfo/{ProductId}"

@using EcoEarthPOC.Components.Pages.Scanner.Data.DTOs
@inject EcoEarthPOC.Components.Services.OFFPackaging _offService

<!--- Displaying Product Info->
<div>
    @if (productInfo != null)
    {
        <h3>@productInfo.ProductInfo.ProductName: @productInfo.ProductInfo.ProductName</h3>

        @foreach (var material in productInfo.ProductInfo.DetailedPackaging)
        {
            <p>@material.Material: @material.Shape</p>
        }

        <img src="@productInfo.ProductInfo.SelectedImages["front"].Display["en"]" />

    }
    else
    {
        <p>Loading...</p>
    }
</div>

@code {
    [Parameter]
    public string ProductId { get; set; }

    public GetMorePackagingInfoDTO productInfo;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            productInfo = await _offService.GetMorePackagingInformation(ProductId);

            if (productInfo.Status == 0)
            {
                throw new Exception("Product not found");
            }
        }
        catch (Exception ex)
        {
            // Handle the exception (e.g., log it, show a message to the user, etc.)
        }
    }
}