@page "/scanner/productinfo/{ProductId}"
@using EcoEarthPOC.Components.Pages.Scanner.Data.DTOs
@using EcoEarthPOC.Components.Pages.Quests.DTOs
@using EcoEarthPOC.Components.Pages.Scanner
@inject EcoEarthPOC.Components.Services.OFFPackaging _offService
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.IsProductRecyclableService _isProductRecyclableService
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.UserCurrencyService _userCurrencyService
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.DailyStreakService _dailyStreakService
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.QuestService _questService

<!--- Displaying Product Info-->
<div>
    @if (productInfo != null)
    {
        <h3 class="product-title">@productInfo.ProductInfo.Brand: @productInfo.ProductInfo.ProductName</h3>

        <ul id="RecyclableProducts">
            @if (recyclableProductMaterials != null)
            {
                @foreach (var material in recyclableProductMaterials)
                {
                    @if (material.Recyclable)
                    {
                        <li>Material: @material.Material - Shape: @material.Shape</li>
                    }
                }
            }

        </ul>

        <ul id="NonRecyclableProducts">
            @if (recyclableProductMaterials != null)
            {
                @foreach (var material in recyclableProductMaterials)
                {
                    @if (material.Recyclable == null)
                    {
                        break;
                    }

                    @if (!material.Recyclable)
                    {
                        <li>Material: @material.Material - Shape: @material.Shape</li>
                    }
                }
            }
        </ul>

        <img class="product-image" src="@productInfo.ProductInfo.SelectedImages["front"].Display["en"]" />


        <div class="UserRewardsBox">
            <p>This product has earned you @PointsToAssign Ecoins!</p>
            @if(BonusPoints != 0)
            {
                <p>+@BonusPoints Ecoins from completed quests!</p>
            }
        </div>



        <div>
            <button @onclick="() => NavigationWithCurrency(1)">Claim Points And Scan Again</button>
            <button @onclick="() => NavigationWithCurrency(2)">Claim Points And Go To Shop</button>
        </div>

        <br/>

        <div class="ContentWarning">
            <p>Is any of this information incorrect? Write us a ticket!</p>
            <button @onclick="NavigateToTicket">Create a ticket</button>
        </div>

        <br />

    }
    else
    {
        <p>Loading...</p>
    }
</div>

@code {
    [Parameter]
    public string ProductId { get; set; }

    // Holds info for product's packaging
    public GetMorePackagingInfoDTO productInfo;

    // Holds recyclable materials (plastic, paper etc)
    public List<EcoEarthPOC.Components.Pages.Scanner.Data.DTOs.IsItRecyclableDTO> recylableMaterials { get; set; }

    // Holds recyclable materials in a product's packaging and whether they can be recycled
    public List<EcoEarthPOC.Components.Pages.Scanner.Data.ViewModels.RecylableMaterialVM> recyclableProductMaterials { get; set; } = new List<EcoEarthPOC.Components.Pages.Scanner.Data.ViewModels.RecylableMaterialVM>();

    // Holds the number of points to assign to a user
    public int PointsToAssign { get; set; }

    //Holds the number of points gained from quests
    public int BonusPoints { get; set; }

    //Holds users quests
    private List<QuestDTO> quests;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Initialise recyclable materials
            recylableMaterials = await _isProductRecyclableService.GetRecyclableMaterials();

            productInfo = await _offService.GetMorePackagingInformation(ProductId);

            if (productInfo.Status == 0)
            {
                throw new Exception("Product not found");
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }

        foreach (var material in productInfo.ProductInfo.DetailedPackaging)
        {
            if (material.Material == null)
            {
                break;
            }

            material.Material = material.Material.Replace("en:", "").Replace("-", " ").Replace("_", " ");

            // Added during testing, handles cases where a material exists but the shape isn't specified
            if (material.Shape == null)
                material.Shape = "Unknown";

            material.Shape = material.Shape.Replace("en:", "").Replace("-", " ").Replace("_", " ");
        }

        recyclableProductMaterials = InitialiseRecycleList(productInfo.ProductInfo.DetailedPackaging);

        await GetQuestReward();
    }

    // Assigns currency to a user
    public async Task AssigningCurrency()
    {
        try
        {
            // Added during testing, imposes a 15 Ecoin limit on products
            if (PointsToAssign > 15)
                PointsToAssign = 15;

            var srvResponse = _userCurrencyService.AddCurrency(PointsToAssign + BonusPoints);
        }
        catch (Exception e)
        {
            return;
        }
    }

    // Initialises a list with the recyclable materials inside a product and includes a bool detailing whether it can be recycled
    public List<EcoEarthPOC.Components.Pages.Scanner.Data.ViewModels.RecylableMaterialVM> InitialiseRecycleList(List<EcoEarthPOC.Components.Pages.Scanner.Data.DTOs.GetMorePackagingInfoDTO.Packagings> packagings)
    {
        if (packagings == null)
        {
            return null;
        }
        try
        {
            foreach (var packaging in packagings)
            {
                string mats = packaging.Material;
                string shapes = packaging.Shape;
                bool recyc = DoItRecycle(packaging.Material);

                switch (recyc)
                {
                    case true:
                        PointsToAssign += 3;
                        break;
                    case false:
                        PointsToAssign -= 1;
                        break;
                }

                recyclableProductMaterials.Add(new EcoEarthPOC.Components.Pages.Scanner.Data.ViewModels.RecylableMaterialVM
                {
                        Material = mats,
                        Shape = shapes,
                        Recyclable = recyc
                });

                // Was having a negative value shown to the user, this resolves that
                if (PointsToAssign < 0)
                    PointsToAssign = 0;
            }

            if (recyclableProductMaterials.Count == 0)
            {
                return null;
            }
            else
                return recyclableProductMaterials;
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            return null;
        }
    }

    // Checks whether materials in a product can be recycled
    protected bool DoItRecycle(string material)
    {
        if (material == null)
            return false;

        if (recylableMaterials.Any(m => m.Material.ToLower().Contains(material.ToLower())))
        {
            return true;
        }
        else
            return false;
    }

    // Takes user to the ticket page
    public void NavigateToTicket()
    {
        NavigationManager.NavigateTo("/usertickets");
    }

    public void NavigationWithCurrency(int page)
    {
        AssigningCurrency();
        UpdateStreak();
        UpdateQuestProgress();
        switch (page)
        {
            case 1:
                NavigationManager.NavigateTo("/scanner/scanner");
                break;
            case 2:
                NavigationManager.NavigateTo("/rewards");
                break;
        }
    }

    //updates users daily streak
    public async Task UpdateStreak()
    {
        try
        {
            await _dailyStreakService.UpdateStreak();
        }
        catch (Exception e)
        {
            return;
        }
    }

    //updates quest progress and awards points 
    public async Task UpdateQuestProgress()
    {
        try
        {
            quests = (await _questService.GetAllQuests()).ToList();

            //checks product catergories
            foreach (var material in recyclableProductMaterials)
            {
                if(material.Material != null) {
                    var categoryMaterial = new IsItRecyclableDTO();
                    try
                    {
                        categoryMaterial = recylableMaterials.FirstOrDefault(m => m.Material.ToLower().Contains(material.Material.ToLower()));
                    }
                    catch { }
                    if (categoryMaterial != null)
                    {
                        //updates quest progress
                        foreach (var quest in quests)
                        {
                            if(quest.isDone == false)
                            {
                                if (quest.CategoryId == categoryMaterial.CategoryId || quest.CategoryId == 6)
                                {
                                    await _questService.UpdateQuestProgress(quest.QuestId);
                                }
                            }
                        }
                    }
                }
            }
        }
        catch (Exception e)
        {
            return;
        }
    }

    //Gets the amount of bonus points the user could earn
    public async Task GetQuestReward()
    {
        try
        {
            quests = (await _questService.GetAllQuests()).ToList();

            foreach (var quest in quests)
            {
                if (quest.isDone == false)
                {
                    int progressCount = 0;

                    foreach (var material in recyclableProductMaterials)
                    {
                        if (material.Material != null)
                        {
                            var categoryMaterial = new IsItRecyclableDTO();
                            try
                            {
                                categoryMaterial = recylableMaterials.FirstOrDefault(m => m.Material.ToLower().Contains(material.Material.ToLower()));
                            }
                            catch { }
                            if (categoryMaterial != null)
                            {
                                if (quest.CategoryId == categoryMaterial.CategoryId || quest.CategoryId == 6)
                                {
                                    progressCount++;
                                }
                            }
                        }
                    }
                    if (quest.Progress + progressCount >= quest.QuestGoal)
                    {
                        BonusPoints += quest.QuestReward;
                    }
                }
            }
        }
        catch (Exception e)
        {
            return;
        }
    }




    [Inject]
    private NavigationManager NavigationManager { get; set; }

}
