@page "/scanner/productinfo/{ProductId}"

@using EcoEarthPOC.Components.Pages.Scanner.Data.DTOs
@using EcoEarthPOC.Components.Pages.Scanner
@inject EcoEarthPOC.Components.Services.OFFPackaging _offService

<!--- Displaying Product Info-->
<div>
    @if (productInfo != null)
    {
        <h3>@productInfo.ProductInfo.ProductName: @productInfo.ProductInfo.ProductName</h3>
        
        <ul id="RecyclableProducts">
            @foreach (var material in recylableMaterials)
            {
                @if (material.Recyclable)
                {
                    <li>Material: @material.Material - Shape: @material.Shape</li>
                }
            }
        </ul>

        <ul id="NonRecyclableProducts">
            @foreach (var material in recylableMaterials)
            {
                @if (!material.Recyclable)
                {
                    <li>Material: @material.Material - Shape: @material.Shape</li>
                }
            }
        </ul>

        <img src="@productInfo.ProductInfo.SelectedImages["front"].Display["en"]" />

    }
    else
    {
        <p>Loading...</p>
    }
</div>

@code {
    [Parameter]
    public string ProductId { get; set; }

    public GetMorePackagingInfoDTO productInfo;

    public List<EcoEarthPOC.Components.Pages.Scanner.Data.ViewModels.RecylableMaterialVM> recylableMaterials { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            productInfo = await _offService.GetMorePackagingInformation(ProductId);

            if (productInfo.Status == 0)
            {
                throw new Exception("Product not found");
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }

        foreach (var material in productInfo.ProductInfo.DetailedPackaging)
        {
            material.Material = material.Material.Replace("en:", "").Replace("-", " ").Replace("_", " ");
        }

        recylableMaterials = ScannerMoreInfoUtils.InitialiseRecycleList(productInfo.ProductInfo.DetailedPackaging);

        Console.WriteLine("e");
    }
}